<!DOCTYPE html>
  <body>
  <br>
  <br>
    <div class="container">
    <div class = "row">
    <table width="600" align="center" >
      <tr>
        <td align="right">Name : <%= current_user.name%></td>
      </tr>
      <tr>
        <td align="right"><%=link_to "Log out", logout_path, method: :delete%></td>
      </tr>
        </table>
    </div>
  </div>
  </body>
</html>