<!DOCTYPE html>
  <body>
  <div class = "row">
    <div class="container" style="background-color:grey">
    <p align="right">
        Name : <%= @user.name %><br>
        Email_ID: <%= @user.emailId %><br>
        <%=link_to "Log out", logout_path, method: :delete%>
        </p>
    </div>
  </div>
  </body>
</html>