<html>
<body>
<h1 align="center"><Strong>Update File</Strong></h1>
<div class = "container">
<%= form_for(:account, url:user_account_transaction_path, method: :PATCH) do |f| %>
<div class="row">
    <div class = "col-sm-5">Upload Attachment</div>
</div>
<div class="row">
    <div class = "col-sm-5"><p><%= f.file_field :image, class:'form-control'%></p></div>
</div>
<div class="row">
    <div class="col"><%= f.submit "Update", class:'btn btn-primary'%></div>
</div>
<% end %>
</div>
</body>
</html>